@mixin alert {
  border: 1px solid gray;
  border-radius: 0.3rem;
  color: rgb(85, 84, 84);
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.alert-info {
  @include alert();
  background-color: rgb(211, 211, 216);
}
.alert-success {
  @include alert();
  background-color: rgb(186, 240, 219);
}
.alert-error {
  @include alert();
  background-color: rgb(253, 200, 200);
}